* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --Primary-Brand: #4D5AE5;
    --Pressed-state: #404BBF;
    --Dark: #2E2F42;
    --Text: #434455;
    --Light: #F4F4FD;
    --White: #FFFFFF;
    --Accent: #E7E9FC;
    --Cloud: #F4F4FD;
}

/*Header*/

.webstudio-header-container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.webstudio-header {
    padding: 24px 0;
    border-bottom: 1px solid var(--Accent);
}

.webstudio-nav {
    display: flex;
}

.webstudio-nav li {
    display: inline-block;
    margin: 0px 0px 0px 40px;
}

.webstudio-nav-logo {
    color: var(--Dark);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.webstudio-nav-link-color {
    color: var(--Primary-Brand);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
}

.webstudio-header-menu {
    margin-left: 76px;
}

.webstudio-header-menu a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--Dark);
}

.webstudio-header-menu a:hover,
.webstudio-header-menu a:focus {
    color: var(--Pressed-state);
    cursor: pointer;
}

.webstudio-header-menu li {
    margin-left: 40px;
}

.webstudio-header-menu li:first-child {
    margin-left: 0px;
}

.webstudio-header-contant {
    margin-left: auto;
}

.webstudio-header-contant li {
    display: inline-block;
    margin-left: 40px;
}

.webstudio-header-contant a {
    color: var(--Text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.webstudio-header-contant a:hover,
.webstudio-header-contant a:focus {
    color: var(--Pressed-state);
    cursor: pointer;
}

.webstudio-header-contant li:first-child {
    margin-left: 0px;
}


/*Services*/

.webstudio-filter-portfolio-jobs-container {
    width: 1158px;
    margin-top: 96px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.webstudio-filter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.webstudio-services-style-buttons-items {
    border: none;
    outline: none;
    background: var(--Light);
    color: var(--Primary-Brand);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 24px;
    margin-left: 24px;
}

.webstudio-services-style-buttons-items:hover,
.webstudio-services-style-buttons-items:focus {
    background: var(--Pressed-state);
    color: var(--White);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.webstudio-filter-buttons li:first-child {
    margin-left: 0px;
} /*не розумію чому не спрацювує*/

/*filter-portfolio-jobs*/

.webstudio-filter-portfolio-jobs-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
}

.webstudio-filter-portfolio-jobs-cards img {
    display: block;
    width: 100%;
    height: auto;
}

.webstudio-filter-portfolio-jobs-cards-items {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-bottom: 48px;
}

.webstudio-filter-portfolio-jobs-cards-items-styles {
    padding: 32px 16px;
}

.webstudio-filter-portfolio-jobs-cards-items-titles {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
}

.webstudio-filter-portfolio-jobs-cards-items-texts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 8px;
}

.webstudio-filter-portfolio-jobs-cards-items:nth-child(3n + 1) {
    margin-left: 0px;
}

/*Footer*/

.webstudio-footer {
    background: var(--Dark);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.webstudio-footer-container {
    padding: 100px 0px 100px 0px;
}

.webstudio-footer-container-style {
    width: 264px;
}

.webstudio-footer-logo {
    color: var(--Cloud);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.webstudio-footer-link-color {
    color: var(--Primary-Brand);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
}

.webstudio-footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--Accent);
    margin-top: 15px;
    letter-spacing: 0.02em;
}