* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --Primary-Brand: #4D5AE5;
    --Pressed-state: #404BBF;
    --Dark: #2E2F42;
    --Text: #434455;
    --Light: #F4F4FD;
    --White: #FFFFFF;
    --Accent: #E7E9FC;
    --Cloud: #F4F4FD;
}

/*Header*/

.webstudio-header {
    height: 72px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}

.webstudio-nav {
    display: flex;
    align-items: center;
}

.webstudio-header-menu {
    width: 361px;
    height: 24px;
    font-size: 16px;
    margin-left: 75px;
}

.webstudio-nav-logo {
    color: var(--Dark);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.webstudio-nav-link-color {
    color: var(--Primary-Brand);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
}

.webstudio-header-menu a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--Dark);
}

.webstudio-header-menu a:hover {
    cursor: pointer;
}

.webstudio-header-menu li {
    display: inline-block;
    padding-left: 40px;
}

.webstudio-header-contant-email-phone {
    display: flex;
    margin-left: 185px;
}

.webstudio-header-contant-email-phone li {
    padding-left: 40px;
    padding-top: 25px;
}

.webstudio-header-contant a {
    color: var(--Text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Services*/

.webstudio-filter-container {
    margin-top: 75px;
}

.webstudio-filter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.webstudio-services-style-buttons-all {
    width: 69px;
    height: 48px;
    border: none;
    outline: none;
    background: var(--Light);
    color: var(--Primary-Brand);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.webstudio-services-style-buttons-all:hover,
.webstudio-services-style-buttons-all:focus {
    background: var(--Pressed-state);
    color: var(--White);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.webstudio-services-style-buttons-web-site {
    width: 116px;
    height: 48px;
    border: none;
    outline: none;
    background: var(--Light);
    color: var(--Primary-Brand);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 25px;
}

.webstudio-services-style-buttons-web-site:hover,
.webstudio-services-style-buttons-web-site:focus {
    background: var(--Pressed-state);
    color: var(--White);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.webstudio-services-style-buttons-app {
    width: 78px;
    height: 48px;
    border: none;
    outline: none;
    background: var(--Light);
    color: var(--Primary-Brand);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 25px;
}

.webstudio-services-style-buttons-app:hover,
.webstudio-services-style-buttons-app:focus {
    background: var(--Pressed-state);
    color: var(--White);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.webstudio-services-style-buttons-design {
    width: 101px;
    height: 48px;
    border: none;
    outline: none;
    background: var(--Light);
    color: var(--Primary-Brand);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 25px;
}

.webstudio-services-style-buttons-design:hover,
.webstudio-services-style-buttons-design:focus {
    background: var(--Pressed-state);
    color: var(--White);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.webstudio-services-style-buttons-marketing {
    width: 126px;
    height: 48px;
    border: none;
    outline: none;
    background: var(--Light);
    color: var(--Primary-Brand);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 25px;
}

.webstudio-services-style-buttons-marketing:hover,
.webstudio-services-style-buttons-marketing:focus {
    background: var(--Pressed-state);
    color: var(--White);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*filter-services*/

.webstudio-filter-services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 50px;
}

/*banking-app*/

.webstudio-cards-banking-app-section {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
}

.webstudio-filter-services-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.webstudio-cards-banking-app-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
    padding-top: 35px;
    padding-left: 15px;
}

.webstudio-cards-banking-app-text {
    padding: 10px 0px 35px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Cashless Payment*/

.webstudio-cards-cashless-payment-section {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
    margin-left: 25px;
}

.webstudio-cards-cashless-payment-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
    padding-top: 35px;
    padding-left: 15px;
}

.webstudio-cards-cashless-payment-text {
    padding: 10px 0px 35px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Meditaion App*/

.webstudio-cards-meditaion-app-section {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
    margin-left: 25px;
}

.webstudio-cards-meditaion-app-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
    padding-top: 35px;
    padding-left: 15px;
}

.webstudio-cards-meditaion-app-text {
    padding: 10px 0px 35px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Taxi Service*/

.webstudio-cards-taxi-service-section {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
}

.webstudio-cards-taxi-service-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
    padding-top: 35px;
    padding-left: 15px;
}

.webstudio-cards-taxi-service-text {
    padding: 10px 0px 35px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Screen Illustrations*/

.webstudio-cards-screen-illustrations-section {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
    margin-left: 25px;
}

.webstudio-cards-screen-illustrations-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
    padding-top: 35px;
    padding-left: 15px;
}

.webstudio-cards-screen-illustrations-text {
    padding: 10px 0px 35px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Online Courses*/

.webstudio-cards-online-courses-section {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
    margin-left: 25px;
}

.webstudio-cards-online-courses-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
    padding-top: 35px;
    padding-left: 15px;
}

.webstudio-cards-online-courses-text {
    padding: 10px 0px 35px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Instagram Stories Concept*/

.webstudio-cards-instagram-stories-concept-section {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
}

.webstudio-cards-instagram-stories-concept-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
    padding-top: 35px;
    padding-left: 15px;
}

.webstudio-cards-instagram-stories-concept-text {
    padding: 10px 0px 35px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Organic Food*/

.webstudio-cards-organic-food-section {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
    margin-left: 25px;
}

.webstudio-cards-organic-food-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
    padding-top: 35px;
    padding-left: 15px;
}

.webstudio-cards-organic-food-text {
    padding: 10px 0px 35px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Fresh Coffee*/

.webstudio-cards-fresh-coffee-section {
    width: 360px;
    border: 1px solid var(--Accent);
    background: var(--White);
    margin-left: 25px;
}

.webstudio-cards-fresh-coffee-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
    padding-top: 35px;
    padding-left: 15px;
}

.webstudio-cards-fresh-coffee-text {
    padding: 10px 0px 35px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Footer*/

.webstudio-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 390px;
    height: 310px;
    background: var(--Dark);
    margin-top: 120px;
}

.webstudio-footer-logo {
    color: var(--Cloud);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.webstudio-footer-link-color {
    color: var(--Primary-Brand);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
}

.webstudio-footer-text {
    width: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--Accent);
    padding-top: 15px;
    letter-spacing: 0.02em;
}