* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --Primary-Brand: #4D5AE5;
    --Pressed-state: #404BBF;
    --Dark: #2E2F42;
    --Text: #434455;
    --Light: #F4F4FD;
    --White: #FFFFFF;
    --Accent: #E7E9FC;
    --Cloud: #F4F4FD;
}

/*Header*/

.webstudio-header-container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.webstudio-header {
    padding: 24px 0;
}

.webstudio-nav {
    display: flex;
}

.webstudio-nav li {
    display: inline-block;
}

.webstudio-nav-logo {
    color: var(--Dark);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.webstudio-nav-link-color {
    color: var(--Primary-Brand);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
}

.webstudio-header-menu a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--Dark);
}

.webstudio-header-menu a:hover,
.webstudio-header-menu a:focus {
    color: var(--Pressed-state);
    cursor: pointer;
}

.webstudio-header-menu li {
    padding-left: 40px;
}

.webstudio-header-contant {
    margin-left: auto;
}

.webstudio-header-contant li {
    display: inline-block;
    padding-left: 40px;
}

.webstudio-header-contant a {
    color: var(--Text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.webstudio-header-contant a:hover,
.webstudio-header-contant a:focus {
    color: var(--Pressed-state);
    cursor: pointer;
}

/*Effective Solutions for Your Business*/

.webstudio-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Dark);
    padding: 188px 0;
}

.webstudio-service-container {
    width: 1158px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.webstudio-service-text {
    width: 496px;
    color: var(--White);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.webstudio-service-button {
    border: none;
    outline: none;
    background: var(--Primary-Brand);
    color: var(--White);
    padding: 15px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 50px;
}

.webstudio-service-button:hover,
.webstudio-service-button:focus {
    background: var(--Pressed-state);
    cursor: pointer;
}

/*Services*/

.webstudio-services-container ul {
    width: 1158px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 120px;
}

.webstudio-services-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.webstudio-services-title-text {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}

.webstudio-services-text {
    font-weight: 400;
    font-size: 16px;
    margin-top: 70px;
}

.webstudio-services-text-list {
    margin-left: 24px;
}

/*Our jobs*/

.webstudio-our-jobs-container {
    width: 1158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.webstudio-our-jobs {
    margin-top: 120px;
}

.webstudio-our-jobs-text {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    text-align: center;
}

.webstudio-our-jobs-images {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.webstudio-our-jobs-images img {
    margin-left: 24px;
}

/*Our team*/

.webstudio-our-team {
    margin-top: 100px;
}

.webstudio-our-team-cards {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.webstudio-our-team-cards li {
    margin-left: 25px;
}

.webstudio-our-team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    padding-top: 120px;
}

.webstudio-our-team {
    background: var(--Light);
    height: 732px;
    margin-top: 120px;
}

/*Our team*/

.webstudio-our-team-container {
    width: 1158px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.webstudio-our-team-cards-employee {
    background: var(--White);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.webstudio-our-team-cards-title-list {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.webstudio-our-team-cards-text-list {
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.webstudio-our-team-cards-employee-titles {
    padding: 32px 16px 32px 16px;
}

/*Footer*/

.webstudio-footer-container {
    width: 264px;
    padding: 100px 0px 100px 156px;
}

.webstudio-footer {
    background: var(--Dark);
}

.webstudio-footer-logo {
    color: var(--Cloud);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.webstudio-footer-link-color {
    color: var(--Primary-Brand);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
}

.webstudio-footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--Accent);
    padding-top: 15px;
    letter-spacing: 0.02em;
}